ul {
  margin  : 0;
  padding : 0;
}

ul li {
  display         : inline;
  list-style-type : none;
}

li:before {
  content : " | ";
}

li:first-child:before {
  content : none;
}

/* CONTAINER */

.container {
  font-family : Arial,
                Helvetica,
                sans-serif;
}

/* HEADER */

.header {
  box-sizing       : border-box;
  padding          : 20px;
  border           : 2px solid black;
  background-color : #FFB4B0;
}

/* SIDEBAR */

.sidebar {
  box-sizing       : border-box;
  position         : relative;
  width            : 20%;
  float            : left;
  margin-top       : 2.5%;
  margin-right     : 2.5%;
  padding          : 20px;
  border           : 2px solid black;
  background-color : #4DD7FA;
}

.sidebar input[type="range"] {}

.radio-group {
  /* display: block; */
}

.genre-radios {
  width : 50%;
  float : left;
}

.sidebar-section {
  margin : 10px 0;
}

.filter-button {
  clear      : both;
  text-align : center;
}

/* CONTENT */

.content {
  box-sizing       : border-box;
  position         : relative;
  width            : 77.5%;
  float            : right;
  margin-top       : 2.5%;
  padding          : 20px;
  border           : 2px solid black;
  background-color : #FEFAC0;
}

.content h2 {
  color       : #785616;
  font-weight : normal;
}

.hidden {
  display: none;
}

#add-music-view {
  width: 300px;
  margin: 0 auto;
  margin-top: 100px;
}

#load-more {
  margin-top: 25px;
}
