ul
{
    margin: 0;
    padding: 0;
}

ul li
{
    list-style-type: none;
    display: inline;
}

li:before {
content: " | ";
}

li:first-child:before {
content: none;
}

/* CONTAINER */

.container {
	font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
.header {
	background-color: #FFB4B0;
	border: 2px solid black;
	padding: 20px;
	box-sizing: border-box;
}

/* SIDEBAR */
.sidebar {
	position: relative;
	width: 20%;
	background-color: #4DD7FA;
	border: 2px solid black;
	float:left;	
	box-sizing: border-box;
	margin-right: 2.5%;
	margin-top: 2.5%;
	padding: 20px;
}

.sidebar input[type="range"] {
	width 75%;
}

.radio-group {
	/* display: block; */
}

.genre-radios{
	width: 50%;
	float:left;
}

.sidebar-section {
	margin: 10px 0;
}

.filter-button {
	clear:both;
	text-align: center;
}

/* CONTENT */
.content {
	width:77.5%;
	position:relative;
	background-color: #FEFAC0;
	float: right;
	border: 2px solid black;
	box-sizing: border-box;
	margin-top: 2.5%;
	padding: 20px;
}

.content h2 {
	font-weight: normal;
	color: #785616;
}